<div class="help" data-bs-toggle="tooltip" data-bs-placement="left"
  data-bs-custom-class="custom-tooltip"
  data-bs-title="!Hola¡ Soy Pedro PE, en qué te puedo ayudar">
      <button class="btn btn-primary helpbtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        ?
      </button>
</div>



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Pedro PE</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body d-flex flex-column mb-3">
    
    <div class="chat-container">
    
      <div class="mensaje usuario">
        <p>jbjhjhjhjhjh</p>
      </div>
  
      <div class="mensaje bot">
        <p>Respuesta del bot</p>
      </div>
      
      <div class="mensaje usuario">
        <p>jbjhjhjhjhjh</p>
      </div>
  
      <div class="mensaje bot">
        <p>Respuesta del bot</p>
      </div>

      <div class="mensaje usuario">
        <p>jbjhjhjhjhjh</p>
      </div>
  
      <div class="mensaje bot">
        <p>Respuesta del bot</p>
      </div>

      <div class="mensaje usuario">
        <p>jbjhjhjhjhjh</p>
      </div>
  
      <div class="mensaje bot">
        <p>Respuesta del bot</p>
      </div>

      <div class="mensaje usuario">
        <p>jbjhjhjhjhjh</p>
      </div>
  
      <div class="mensaje bot">
        <p>Respuesta del bot</p>
      </div>
      
      <!--Entrada del chat-->
      <div class="input-group mb-3 pos">
        <input type="text" class="form-control" placeholder="Escribe un mensaje...">
        <button class="btn btn-secondary" type="button">Enviar</button>
      </div>

    </div>

    

  </div>
</div>