<aside class="sidebar">
    <ul>
      <li><a routerLink="/monitor">Monitor</a></li>
      <li><a routerLink="/mouse">Mouse</a></li>
      <li><a routerLink="/teclado">Teclado</a></li>
      <li><a routerLink="/ram">Ram</a></li>
      <li><a routerLink="/procesador">Procesador</a></li>
      <li><a routerLink="/motherboard">Motherboard</a></li>
      <li><a routerLink="/fuente">Fuentes</a></li>
    </ul>
  </aside>
  <section class="content">
    <div class="recommendations">
      <h2>Recomendaciones</h2>
      <!-- Aquí se cargaría el contenido de las recomendaciones -->
    </div>
    <div class="brands">
      <img src="dell.png" alt="Dell">
      <img src="toshiba.png" alt="Toshiba">
      <img src="hp.png" alt="HP">
      <img src="lenovo.png" alt="Lenovo">
    </div>
  </section>