<section class="container">
  <aside class="sidebar">
    <ul>
      <li><a ><i class="fas fa-desktop"></i> Monitor</a></li>
      <li><a ><i class="fas fa-mouse"></i> Mouse</a></li>
      <li><a ><i class="fas fa-keyboard"></i> Teclado</a></li>
      <li><a ><i class="fas fa-memory"></i> RAM</a></li>
      <li><a ><i class="fas fa-microchip"></i> Procesador</a></li>
      <li><a ><i class="bi bi-placabase"></i> Motherboard</a></li>
      <li><a ><i class="fas fa-power-off"></i> Fuente de poder</a></li>
    </ul>
  </aside>
  <ul></ul>
  <section class="content">
    <div class="recommendations">
      <h2>Recomendaciones</h2>
      <!-- Aquí se cargaría el contenido de las recomendaciones -->
      <ul>
        <li *ngFor="let recomendacion of recomendaciones">
          {{ recomendacion }}
        </li>
      </ul>
    </div>
    <div class="brands">
      <img src="../../assets/icons/dell.png" alt="" >
      <img src="../../assets/icons/toshiba.png" alt="" >
      <img src="../../assets/icons/hp.png" alt="">
      <img src="../../assets/icons/lenovo.png" alt="">
    </div>
  </section>
</section>

